.p-menu ul li {
    margin-left: 50%;
    color: #ff6b81;
}

.p-mana {
    height: 12.3rem;
}

.p-mana h3 {
    padding-top: 60px;
}

.table_lin td {
    line-height: 8.26rem;
}

.table_lin th {
    line-height: 8.26rem;
}